*{
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Helvetica, Arial, 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


body{
    background-color: rgb(249, 249, 249);
     margin: 0px;
   
}
.Navbar{
    display: flex;   /*Header nav bar*/
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px lightgray;
 
  
}
.Navbar h1{   /*Library header*/
    font-size: 40px;
    margin: 10px;
    animation-name: library;
    animation-duration: 1200ms;
    animation-timing-function: ease-in;
    

 
}
@keyframes library{
    0%{
        opacity: 0;
        transform: translateX(-3em);
        
    }
    25%{
        opacity: 15;
    
    }
    50%{
        opacity: 40;   
  
    }
    75%{
        opacity: 75;
       
       
    }
    100%{
        opacity: 100;
 
    }
}
.newbook-btn { /* Button to input new book*/
    background-color: white;
    color: black;
    border-radius: 12px;
    border: 2px solid black;
    width: 200px;
    height: 50px;
    font-size: 25px ;
    padding: 4px;
    transition: 300ms;
}
.mode{
    background-color: white;
    color: black;
    border-radius: 12px;
    border: 2px solid black;
    width: 100px;
    height: 40px;
    font-size: 16px ;
    padding: 4px; 
}
.newbook-btn:hover,.mode:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 

    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
.modal-content{
    background-color: #fefefe;
    margin: 12% auto;
    padding: 1rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    width: 20%;
 
}
.my-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
}
.my-form input{
    border-radius: 4px;
    border: 2px solid black;
    padding: .5rem 1rem;
    width: 80%;
}
.my-form label{
    font-size: 20px;
}
.addbook-btn{  /* Modal add book to library*/
    width: 100px;
    padding: 4px;
    font-size:12px;
    border-radius: 4px;
    border: 2px solid black;
    color: black;
    background-color: white;
    transition: 300ms;
}
.addbook-btn:hover
{
    
    background-color: black;
    color: white;
    cursor: pointer;
}



.remove{
    border-radius: 4px;
    border: 2px solid black;
    background-color: white;
    font-size: 12px;
    padding: 4px;
    width: 100px;
    transition: 300ms;
}
.remove:hover{
    background-color: rgb(180, 40, 40);
    color: white; 
    cursor: pointer;
}

.bookshelf{    /*container for books*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
    margin-top: 100px;
    gap:60px;
}

.book{
    background-color: rgb(255, 255, 255); /* book object */
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content:space-between;
    align-items: center;
    border-radius: 4px;
    border: 2px solid rgb(4, 4, 4);
    box-shadow: 4px  4px rgb(163, 163, 163); 
    transition: 200ms;
    
}
.book:hover{
   transform: skewY(-1deg);
   transform: rotateY(8deg);
}


.close {
    color: rgb(146, 145, 145);
    float: right;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    cursor: pointer;
  }



  .togglebtn{
    position: absolute;
    top: 1.5rem;
    right: 1.25rem;
   display: none;
    flex-direction:column ;
    justify-content: space-between;
    width: 30px;
    height: 20px;

    }
.togglebtn .bar
{
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
  
}



@media(max-width:500px){
    .togglebtn{
        display: flex;
    
    }
    .newbook-btn{
        display: none;
    }
    .Navbar{
        justify-content: space-between;
    }
    .modal-content{
        width: 40%;
    }

}
  